<section class="bg-gray-100 section-xxs text-center">
    <div class="container">
      <div class="row row-30 align-items-lg-center">
        <div class="col-lg-12 col-sm-12 text-lg-center">
          <p class="rights"><span>Copyright</span><span> &copy;&nbsp;</span><span>Town's Nails & Spa</span><span>&nbsp;</span></p>
        </div>
      </div>
    </div>
</section>