<div>
    <div id="map"></div>
    
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var townsNail = {lat: 43.390084, lng: -80.282234};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 17, center: townsNail});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: townsNail, map: map});
        }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTXgmaDA0BzJrzhaKxyGUoUq6_a5qerMU&callback=initMap">
    </script>
</div>